<div class="clearfix" id="site-footer">
<div id="quick-map-container">
<h2>Quick Map</h2>

<ul id="footer-site-map">
	<li class="home">
	<h3><a href="/">Home</a></h3>

	<ul>
		<li><a href="/About-Us">About Us</a></li>
		<li><a href="/Contact-Us">Contact Us</a></li>
	</ul>
	</li>
	<li class="connect">
	<h3><a href="/connect">Connect</a></h3>
	</li>
	<li class="find-resources">
	<h3><a href="/find-resources">Find Resources</a></h3>
	</li>
	<li class="advocate">
	<h3>Advocate</h3>

	<ul>
		<li><a href="/toolkit/media-advocacy">Media Advocacy</a></li>
		<li><a href="/toolkit/policy-advocacy">Policy Advocacy</a></li>
	</ul>
	</li>
	<li class="plan-and-evaluate">
	<h3>Plan and Evaluate</h3>

	<ul>
		<li><a href="/toolkit/strategic-recruitment">Strategic Recruitment</a></li>
		<li><a href="/toolkit/evaluation">Evaluation</a></li>
	</ul>
	</li>
</ul>
</div>

<div id="footer-contact-us-container">
<h2>Contact Us</h2>

<p class="contact-title"><a href="http://www.pophealth.wisc.edu/" target="_blank">Department of Population Health Sciences<br />
UW-Madison</a></p>

<p class="contact-address"><a href="http://goo.gl/maps/Ujp0V" target="_blank">610 Walnut Street, Suite 707<br />
Madison, WI 53726-2397</a></p>
<a class="logo-link" href="http://www.pophealth.wisc.edu/" target="_blank"><img alt="Department of Population Health Sciences" src="/addons/shared_addons/themes/tobwis/css/global/footer/pop-health-logo.png" /></a>

<p class="email">Email Teresa Ryan at <a href="mailto:tryan3@wisc.edu">tryan3@wisc.edu</a><br />
with any questions.</p>
</div>
</div>
